.idea/
.DS_Store
.idea/azure/azureSettings.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/machine-learning.iml
.idea/misc.xml
.idea/modules.xml
.idea/sbt.xml
.idea/vcs.xml
